
.nav-transparent{
    background-color: transparent !important;
}
.nav-dark{
    background-color: rgba(0, 0, 0, 0.932) !important;
}
.dark-mode{
    color: #b6b6b6 !important;
}
.nav-name{
    color: black;
    font-family: var(--header);
    font-weight: 800;
    letter-spacing: 2px;    
}
.nav-text{
    font-family: var(--header);
    font-weight: 600;
    letter-spacing: 4px;
}

.active-page{
    color: var(--darkest);
    text-decoration: underline 2px;
    text-underline-offset: 8px;
}
.active-page:hover{
    color: var(--accent)
}
.logo{
    border-radius: 50%;
    border: 2px solid black;
}