@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{

    --gray-text: #d0d6d6;
    --teal-accent: #86b9b0;
    --midtone: #4c7173;
    --dark-green: #042630;
    --darkest: #041421;
    --accent: orangered;
    --header: "Exo 2", sans-serif;
    --standard-text: "Alegreya Sans", sans-serif;
    --rounded: "Caveat", cursive;
}

body{
    background-color: white;
}