/*
   Color Palette 
    --gray-text: #d0d6d6;
    --teal-accent: #86b9b0;
    --midtone: #4c7173;
    --dark-green: #042630;
    --darkest: #041421;

   Fonts
    --header: "Exo 2", sans-serif;
    --standard-text: "Alegreya Sans", sans-serif;

*/


.main{
    display: flex;
    flex-direction: column;
}
/*

    HERO SECTION

*/



.heroSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.heroContent{
    margin-left: auto;
    margin-right: auto;
}
.heroHeader{
    color: black;
    font-family: var(--header);
    font-weight: 600;
    letter-spacing: 2px;
}
.nameSpan{
    color: var(--accent);
    font-family: var(--rounded);
    font-size: 2.5rem;

}
.heroText{
    color: black;
    font-family: var(--standard-text);
    margin-top: -.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.heroLinksDiv{
    display: flex;
    flex-direction: column;
}

.heroLink{
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-family: var(--header);
    font-weight: 600;
    letter-spacing: 2px;
    padding:4px;
    border: 1px solid white;
}
.heroLink:first-of-type{
    background-color: black;
    color: white;
}
.heroLink:first-of-type:hover{
    background-color: white;
    color: var(--accent);
    border: 1px solid black;

}
.heroLink:last-of-type{
    margin-top: .5rem;
    border: 1px solid black;
    color: black;
}
.heroLink:last-of-type:hover{
    color: var(--accent);
}






/*

    INTRO SECTION

*/

.introsection{
    margin-top: 100px;
}

.topSlant{
    width: 100vw;
	border-top: 5rem solid transparent;
	border-right: 100vw solid rgba(0, 0, 0, 0.932);
}
.bottomSlant{
    width: 100vw;
	border-bottom: 5rem solid transparent;
	border-left: 100vw solid rgba(0, 0, 0, 0.932);
    margin-top: 0;
}

.introContent{
    color: white;
    background-color: rgba(0, 0, 0, 0.932);
    min-height: 20rem;
}
.introBlock:first-of-type{
    padding-top: 8rem;
}
.introBlock:last-of-type{
    padding-bottom: 8rem;
}
.introBlock{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}
.blockImage{
    position: relative;
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
}
.blockHeader{
    margin-top: 1rem;
    color: var(--accent);
    font-family: var(--rounded);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}
.blockText{
    margin-top: -.5rem;
    font-family: var(--header);
    line-height: 1.3rem;
    text-align: center;
    color: rgb(182, 182, 182);
}



.projectsSection{
    margin-top: 10rem;
    padding-bottom: 20rem;
}

.projectHeaderDiv{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.projectHeader{
    font-family: var(--rounded);
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--accent);
    letter-spacing: 2px;
    margin-right: 2%;
    align-self: flex-end;
}
.projectHeaderImage{
    position: relative;
    width: 20vw;
    height: 20vw;
    margin-left: 2%;


}

.projectCard{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(100, 100, 111, 0.253) 0px 7px 29px 0px;
    margin-top: 4rem;
    border-radius: 1%;
    overflow: hidden;
}

